/*
Company     : PT Web Architect Technology - webarq.com 
Built       : June 2016
=============================================================================================================== */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);
.tt {
  font-family: 'Abril Fatface', cursive; }

body {
  color: #434343;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  overflow-x: hidden; }

img {
  border: 0;
  max-width: 100%;
  height: auto; }

.italic {
  font-style: italic; }

.bold {
  font-weight: bold; }

.regular {
  font-weight: lighter; }

.fl {
  float: left; }

.fr {
  float: right; }

.clear {
  clear: both; }

p {
  margin: 1px 0 15px;
  line-height: 20px; }

input, textarea, select {
  font-size: 12px;
  border: none;
  border: 1px solid #D8D8D8;
  padding: 10px;
  margin: 0;
  color: #666; }

input[type=checkbox], input[type=radio] {
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

/* structure 
----------------------------------------------------------------------------------------------*/
section {
  position: relative; }

.wrapper {
  position: relative;
  width: 1170px;
  margin: 0 auto; }

.wrapper.w970 {
  width: 970px; }

/* global
----------------------------------------------------------------------------------------------*/
::-webkit-input-placeholder {
  color: #0072b8; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #0072b8; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #0072b8; }

:-ms-input-placeholder {
  color: #0072b8; }

.clearfix:after, .wrapper:after, section:after {
  clear: both;
  display: block;
  content: " "; }

.clearfix:before {
  clear: both;
  display: block;
  content: " "; }

.image {
  position: relative;
  overflow: hidden; }

.middle {
  position: relative; }

/* header
----------------------------------------------------------------------------------------------*/

header {
  background: url("../images/material/bg_logo.jpg") no-repeat left center rgba(0, 110, 187, 0.7);
  height: 110px;
  position: fixed;
  width: 100%;
  z-index: 99999; }
  header .wrapper {
    width: auto;
    margin: 0 110px; }
    header .wrapper .left {
      margin: 15px 0 0; }
      header .wrapper .left .logo {
        display: inline-block;
        /*margin-left: 40px;*/
        margin: 0; }
      header .wrapper .left .lang {
        display: inline-block;
        vertical-align: top;
        margin: 30px 0 30px 90px; }
        header .wrapper .left .lang a {
          display: block;
          position: relative;
          color: #fff;
          line-height: 20px;
          float: left;
          font-size: 18px;
          text-transform: uppercase; }
        header .wrapper .left .lang a:first-child {
          padding-right: 15px;
          margin-right: 15px;
          border-right: 1px solid #fff; }
        header .wrapper .left .lang a:hover {
          text-decoration: underline; }
        header .wrapper .left .lang a.active {
          text-decoration: underline; }
    header .wrapper .right {
      margin: 20px 0 0; }
      header .wrapper .right a {
        display: block;
        position: relative;
        color: #fff;
        line-height: 68px;
        float: left;
        font-size: 18px;
        text-transform: uppercase;
        margin-left: 30px;
        padding-left: 30px;
        border-left: 1px solid #fff;
        font-weight: 700; }
      header .wrapper .right a.toggle_menu {
        width: 40px;
        height: 40px;
        margin-top: 20px;
        padding-left: 0;
        margin-left: 60px;
        border-left: 0; }
        header .wrapper .right a.toggle_menu span {
          height: 5px;
          background: #fff;
          width: 100%;
          text-indent: -999px;
          border-radius: 2.5px;
          -webkit-border-radius: 2.5px;
          -moz-border-radius: 2.5px;
          -ms-border-radius: 2.5px;
          -o-border-radius: 2.5px;
          position: absolute; }
        header .wrapper .right a.toggle_menu span:nth-child(1) {
          top: 0; }
        header .wrapper .right a.toggle_menu span:nth-child(2) {
          top: 13px; }
        header .wrapper .right a.toggle_menu span:nth-child(3) {
          top: 25px; }
      header .wrapper .right a:first-child {
        border: none;
        padding: 0;
        margin: 0; }
        header .wrapper .right a:first-child img {
          display: inline-block;
          vertical-align: middle; }
      header .wrapper .right .airport {
        margin-top: 0;
        position: relative;
        padding-bottom: 20px; }
        header .wrapper .right .airport a.choose {
          background: url("../images/material/arr_head.png") no-repeat right center;
          padding: 0 25px 0 30px;
          margin-left: 30px;
          border-left: 1px solid #fff; }
        header .wrapper .right .airport .airport_choose {
          position: absolute;
          background: rgba(238, 238, 238, 0.9);
          padding: 25px;
          display: none;
          z-index: 0;
          border-radius: 15px;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          -ms-border-radius: 15px;
          -o-border-radius: 15px;
          margin-left: -200px;
          left: 50%;
          top: 90px;
          opacity: 0;
          margin-top: 50px; }
          header .wrapper .right .airport .airport_choose form {
            position: relative;
            width: 400px; }
            header .wrapper .right .airport .airport_choose form input[type="text"] {
              border: none;
              font-size: 14px;
              border: none;
              padding: 17px 30px;
              border-radius: 20px;
              -webkit-border-radius: 20px;
              -moz-border-radius: 20px;
              -ms-border-radius: 20px;
              -o-border-radius: 20px;
              width: 340px;
              font-style: italic; }
            header .wrapper .right .airport .airport_choose form input[type="submit"] {
              border: none;
              position: absolute;
              right: 10px;
              top: 0;
              padding: 10px 20px;
              bottom: 0;
              margin: auto 0;
              cursor: pointer;
              background: url("../images/material/ico_src.png") no-repeat center center; }
          header .wrapper .right .airport .airport_choose .airport_list {
            margin-top: 15px;
            overflow-x: auto; }
            header .wrapper .right .airport .airport_choose .airport_list a {
              font-size: 16px;
              padding: 10px 0;
              border: none;
              line-height: 24px;
              margin: 0;
              float: none;
              display: block;
              color: #0e448c;
              font-weight: 600;
              text-align: center; }
            header .wrapper .right .airport .airport_choose .airport_list a:hover {
              color: #66b82e; }
        header .wrapper .right .airport .airport_choose:after {
          content: '';
          width: 0;
          height: 0;
          border-bottom: 10px solid rgba(238, 238, 238, 0.9);
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          position: absolute;
          top: -10px;
          left: 0;
          right: 0;
          margin: auto; }
      header .wrapper .right a.corp {
        color: #fff; }
      header .wrapper .right a.corp:hover {
        color: #a4d164; }
      header .wrapper .right .search {
        float: left;
        background: url(../images/material/ico_src_header.png) no-repeat right center;
        height: 25px;
        margin: 20px 0 0 0;
        min-width: 25px;
        cursor: pointer; }
        header .wrapper .right .search ::-webkit-input-placeholder {
          color: #FFF; }
        header .wrapper .right .search :-moz-placeholder {
          color: #FFF; }
        header .wrapper .right .search ::-moz-placeholder {
          color: #FFF; }
        header .wrapper .right .search :-ms-input-placeholder {
          color: #FFF; }
        header .wrapper .right .search input[type=text] {
          background: none;
          border: none;
          padding: 0;
          height: auto;
          color: #FFF;
          font-family: "Open Sans";
          font-size: 16px;
          margin-top: 5px;
          border-bottom: 1px solid #eee;
          width: 250px;
          padding-right: 25px;
          display: none; }
  header .search_mobile {
    display: block;
    position: absolute;
    z-index: 99999;
    background: #006ebb;
    width: 100%;
    height: 82px;
    top: -100%; }
    header .search_mobile .wrapper form {
      margin: 22px 0; }
      header .search_mobile .wrapper form input[type="text"] {
        background: none;
        border: none;
        font-size: 18px;
        color: #fff;
        width: 60%;
        display: inline-block;
        vertical-align: middle;
        padding: 8px 15px;
        margin-left: 5px; }
      header .search_mobile .wrapper form input[type="submit"] {
        background: url(../images/material/ico_src_header.png) no-repeat right center;
        border: none;
        padding: 0;
        width: 24px;
        height: 24px;
        display: inline-block;
        vertical-align: middle; }
      header .search_mobile .wrapper form img {
        width: 25px;
        float: right;
        margin: 6px 0 7px; }

.menu_aside {
  position: fixed;
  right: -500px;
  margin-top: 110px;
  z-index: 79888;
  text-align: right;
  display: none;
  height: 100%;
  overflow-x: auto;
  width: 100%; }
  .menu_aside a {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    display: block;
    position: relative;
    text-transform: uppercase;
    padding: 20px 0;
    padding-left: 40px;
    width: auto; }
  .menu_aside .area_menu {
    padding: 40px 110px 0px 0;
    background: rgba(7, 30, 60, 0.9);
    height: 100%;
    margin-top: 0;
    width: 420px;
    float: right;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box; }
  .menu_aside a.hv_child:after {
    content: '';
    width: 0;
    height: 0;
    border-right: 10px solid rgba(7, 30, 60, 0.9);
    border-top: 10px solid transparent;
    opacity: 0;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 0;
    left: -3px;
    bottom: 0;
    margin: auto;
    z-index: 10;
    transition: all linear 0.5s;
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s; }
  .menu_aside li:hover > a {
    color: #66b82e; }
  .menu_aside li:hover a.hv_child:after {
    left: -10px;
    transition: all linear 0.5s;
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    opacity: 1; }
  .menu_aside .subs {
    position: absolute;
    top: 0;
    background: rgba(26, 63, 122, 0.9);
    opacity: 0;
    padding: 40px 70px;
    right: 420px;
    height: 100%;
    display: none;
    margin-right: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box; }
    .menu_aside .subs a {
      font-size: 17px;
      padding: 20px 0;
      color: #fff;
      min-width: 350px; }
    .menu_aside .subs a:after {
      display: none; }
    .menu_aside .subs a:hover {
      color: #66b82e; }
  .menu_aside .sos_med {
    margin-top: 50px;
    margin-bottom: 20px; }
    .menu_aside .sos_med a {
      display: inline-block;
      padding: 0;
      min-width: auto;
      margin-left: 10px; }
  .menu_aside .mob_add {
    padding: 20px 0;
    margin-top: 50px;
    border-top: 1px solid #cbcbcb;
    display: none; }
    .menu_aside .mob_add ul li {
      display: inline-block; }
      .menu_aside .mob_add ul li a {
        padding: 10px 0 10px 20px;
        font-size: 14px;
        font-weight: 400;
        text-transform: capitalize;
        display: inline-block;
        min-width: auto; }
    .menu_aside .mob_add .lang {
      margin-top: 30px; }
      .menu_aside .mob_add .lang a {
        font-size: 13px;
        line-height: 16px;
        display: inline-block;
        max-width: none;
        padding: 0;
        min-width: auto;
        font-weight: 400; }
      .menu_aside .mob_add .lang a:first-child {
        margin-right: 8px;
        padding-right: 10px;
        border-right: 1px solid #fff; }
      .menu_aside .mob_add .lang a.active {
        color: #66b82e;
        text-decoration: underline; }


/* middle
----------------------------------------------------------------------------------------------*/

.middle.home .home_joerney {
  position: relative;
  min-height: 380px;
  background: url("../images/material/bg_joerney.jpg") no-repeat left 90px; }
  .middle.home .home_joerney .head {
    padding: 0px 0; }
    .middle.home .home_joerney .head .jtitle {
      float: left;
      width: 214px;
      font-size: 16px;
      color: #666666;
      line-height: 22px;
      padding: 22px 0; }
      .middle.home .home_joerney .head .jtitle b {
        font-size: 20px;
        font-weight: bold; }
    .middle.home .home_joerney .head .wheater {
      float: right;
      background: #fff;
      padding: 0px 46px;
      max-width: 215px;
      height: 90px; }
      .middle.home .home_joerney .head .wheater img {
        display: inline-block;
        margin: 18px 20px 0 0;
        vertical-align: top; }
      .middle.home .home_joerney .head .wheater .text {
        display: inline-block;
        margin: 24px 0 0 0;
        vertical-align: top; }
        .middle.home .home_joerney .head .wheater .text span {
          display: block;
          color: #fff; }
        .middle.home .home_joerney .head .wheater .text span.date {
          font-size: 12px;
          font-weight: 300;
          margin: 0 0 3px 0;
          width: 165px; }
        .middle.home .home_joerney .head .wheater .text span.temperatur {
          font-size: 30px;
          font-weight: bold; }
  .middle.home .home_joerney .tabing .tjoernay .list_tab {
    text-align: center;
    margin: -90px 0 0 0;
    padding: 9px 0; }
    .middle.home .home_joerney .tabing .tjoernay .list_tab li {
      display: inline-block;
      border-right: 1px solid #fff;                                             /* garis */
      position: relative; }
      .middle.home .home_joerney .tabing .tjoernay .list_tab li a {   
        display: block;
        padding: 27px 30px;
        font-size: 18px;
        color: #fff;                                                            /* title */
        font-weight: bold; }
        .middle.home .home_joerney .tabing .tjoernay .list_tab li a span {
          display: block;
          position: relative;
          padding: 0 20px 0 34px; }
        .middle.home .home_joerney .tabing .tjoernay .list_tab li a span:after, .middle.home .home_joerney .tabing .tjoernay .list_tab li a span:before {
          position: absolute;
          content: "";
          top: 50%; }
        .middle.home .home_joerney .tabing .tjoernay .list_tab li a span:after {
          width: 12px;
          height: 7px;
          background: url("../images/material/arrow.png") no-repeat 0 0;
          right: 0; }
        .middle.home .home_joerney .tabing .tjoernay .list_tab li a span:before {
          width: 25px;
          height: 25px;
          background: url("../images/material/arrow.png") no-repeat 0 0;
          left: 0;
          top: -4px; }
    .middle.home .home_joerney .tabing .tjoernay .list_tab li:nth-child(2) span:before {
      background: url("../images/material/ico_joernay2.png") no-repeat 0 0; }
    .middle.home .home_joerney .tabing .tjoernay .list_tab li:nth-child(3) span:before {
      background: url("../images/material/ico_joernay3.png") no-repeat 0 0; }
    .middle.home .home_joerney .tabing .tjoernay .list_tab li:last-child {
      border: none; }
    .middle.home .home_joerney .tabing .tjoernay .list_tab li.active a:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 7px;
      background: url("../images/material/varrow.png") no-repeat center bottom;
      bottom: -9px;
      left: 0; }
  .middle.home .home_joerney .tabing .tab_container .dec_list {
    padding: 35px 0 0 0; }
    .middle.home .home_joerney .tabing .tab_container .dec_list .col {
      float: left;
      width: 365px;
      margin: 0 64px 0 0; }
    .middle.home .home_joerney .tabing .tab_container .dec_list h3 {
      font-size: 24px;
      color: #0072b9;                                             /*title info*/
      font-weight: bold;
      line-height: 24px;
      position: relative;
      margin: 0 0 18px 0;
      padding: 0 0 18px 0; }
      .middle.home .home_joerney .tabing .tab_container .dec_list h3 span {
        font-size: 14px;
        font-weight: normal;
        display: block; }
    .middle.home .home_joerney .tabing .tab_container .dec_list h3:before {
      position: absolute;
      bottom: 0;
      left: -55px;
      width: 108px;
      height: 1px;
      background: #666666;                /*line batas*/
      content: ""; }
    .middle.home .home_joerney .tabing .tab_container .dec_list .shortTxt {
      font-size: 14px;
      line-height: 18px;
      margin: 0px 0 0 0; }
    .middle.home .home_joerney .tabing .tab_container .dec_list .anySearch {
      margin: 25px 0 0 0; }
      .middle.home .home_joerney .tabing .tab_container .dec_list .anySearch input[type="text"] {
        float: left;
        padding: 15px 14px 14px 27px;
        background: #e5f5fc;
        border: 0;
        border-top-left-radius: 25px;
        -webkit-border-top-left-radius: 25px;
        -moz-border-top-left-radius: 25px;
        -ms-border-top-left-radius: 25px;
        -o-border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        -webkit-border-bottom-left-radius: 25px;
        -moz-border-bottom-left-radius: 25px;
        -ms-border-bottom-left-radius: 25px;
        -o-border-bottom-left-radius: 25px;
        font-size: 14px;
        width: 240px;
        color: #6c6c6c;
        font-style: italic; }
      .middle.home .home_joerney .tabing .tab_container .dec_list .anySearch input[type="text"]::-webkit-input-placeholder {
        color: #6c6c6c; }
      .middle.home .home_joerney .tabing .tab_container .dec_list .anySearch input[type="text"]:-moz-placeholder {
        /* Firefox 18- */
        color: #6c6c6c; }
      .middle.home .home_joerney .tabing .tab_container .dec_list .anySearch input[type="text"]::-moz-placeholder {
        /* Firefox 19+ */
        color: #6c6c6c; }
      .middle.home .home_joerney .tabing .tab_container .dec_list .anySearch input[type="text"]:-ms-input-placeholder {
        color: #6c6c6c; }
      .middle.home .home_joerney .tabing .tab_container .dec_list .anySearch input[type="submit"] {
        width: 53px;
        height: 45px;
        background: url("../images/material/btnSearch.png") no-repeat 0 0;
        border: none;
        padding: 0; }
    .middle.home .home_joerney .tabing .tab_container .dec_list .col.nav {
      width: 200px; }
    .middle.home .home_joerney .tabing .tab_container .dec_list .jnav ul li a {
      position: relative;
      color: #009be0;                       /*link*/
      display: block;
      padding: 6px 0 6px 17px;
      font-size: 14px; }
    .middle.home .home_joerney .tabing .tab_container .dec_list .jnav ul li a:before {
      position: absolute;
      top: 6px;
      left: 0;
      content: ">"; }
    .middle.home .home_joerney .tabing .tab_container .dec_list .col.img {
      width: 470px;
      margin-right: 0; }
      .middle.home .home_joerney .tabing .tab_container .dec_list .col.img img {
        margin: -35px 0 0 0; }
.middle.home .home_joerney:before {
  position: absolute;
  width: 100%;
  height: 90px;
  background: #666666;
  content: "";
  left: 0;
  top: 0; }
.middle.home .home_career {
  padding: 60px 0;
  background: #f9f9f9; }
  .middle.home .home_career .list_hmCareer .box {
    float: left;
    width: 280px;
    margin-right: 16px;
    cursor: pointer; }
    .middle.home .home_career .list_hmCareer .box .dec {
      margin: 15px 0 0; }
      .middle.home .home_career .list_hmCareer .box .dec span {
        text-transform: uppercase;
        font-size: 14px;
        color: #0072b9; }
      .middle.home .home_career .list_hmCareer .box .dec h3 {
        color: #0072b9;
        text-transform: uppercase;
        font-weight: 700;
        margin: 4px 0 10px; }
      .middle.home .home_career .list_hmCareer .box .dec p {
        padding-right: 20px;
        margin: 0 0 20px; }
      .middle.home .home_career .list_hmCareer .box .dec a {
        text-transform: uppercase;
        font-size: 14px;
        color: #009be0; }
      .middle.home .home_career .list_hmCareer .box .dec a:hover {
        color: #0072b9; }
  .middle.home .home_career .list_hmCareer .box:last-child {
    margin-right: 0; }
  .middle.home .home_career .viewAll a {
    display: block;
    padding: 12px 35px;
    background: #0072b9;
    font-size: 12px;
    font-weight: bold;
    margin-top: 50px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    width: 100px;
    text-align: center; }
.middle.home .home_sub {
  padding: 60px 0;
  background: #f9f9f9; }
  .middle.home .home_sub .subsidiary h3 {
    font-size: 24px;
    color: #0072b9;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 20px 12px 0;
    margin-right: 20px;
    border-right: 1px solid #66b82e; }
    .middle.home .home_sub .subsidiary h3 span {
      font-size: 14px;
      display: block;
      font-weight: 400;
      margin: 0 0 5px; }
  .middle.home .home_sub .subsidiary .right a {
    margin-left: 10px; }
.middle.home .home_latestNews {
  padding: 30px 0;
  background: #fff; }
  .middle.home .home_latestNews .subsidiary h3 {
    font-size: 24px;
    color: #0072b9;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 20px 12px 0;
    margin-right: 20px;
    border-right: 1px solid #66b82e; }
    .middle.home .home_latestNews .subsidiary h3 span {
      font-size: 14px;
      display: block;
      font-weight: 400;
      margin: 0 0 5px; }
  .middle.home .home_latestNews .subsidiary .list_news ul {
    float: left; }
  .middle.home .home_latestNews .subsidiary .list_news .dataNews .lf {
    float: left;
    margin-right: 110px;
    width: 530px; }
  .middle.home .home_latestNews .subsidiary .list_news .dataNews .date {
    color: #66b82e;
    font-size: 12px;
    font-style: italic;
    margin: 0 0 5px 0;
    line-height: 14px; }
  .middle.home .home_latestNews .subsidiary .list_news .dataNews .shortDes {
    color: #0072b9;
    font-size: 16px;
    margin: 0 0 20px 0;
    line-height: 16px; }
  .middle.home .home_latestNews .subsidiary .list_news .readMore a {
    color: #009be0;
    text-transform: uppercase; }
  .middle.home .home_latestNews .subsidiary .list_news .viewAll {
    float: right;
    padding: 10px 0 0 0; }
  .middle.home .home_latestNews .subsidiary .list_news .viewAll a {
    display: block;
    padding: 12px 35px;
    background: #0072b9;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px; }
  .middle.home .home_latestNews .subsidiary .list_news .bx-wrapper {
    margin: 0;
    float: left; }
  .middle.home .home_latestNews .subsidiary .list_news .bx-wrapper .bx-viewport {
    -moz-box-shadow: 0 0 0px #ccc;
    -webkit-box-shadow: 0 0 0px #ccc;
    box-shadow: 0 0 0px #ccc;
    border: solid #fff 0px;
    left: 0px;
    background: none; }
  .middle.home .home_latestNews .subsidiary .list_news .bx-controls {
    display: none; }

.homepage .locationInfo .wrapper {
  border-top: 1px solid #c8c8c8; }


/* 
----------------------------------------------------------------------------------------------*/


.top_subs {
  background: url("../images/material/bg_top_sub.jpg") no-repeat center center;
  height: 90px; }
  .top_subs h2 {
    margin: 31px 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700; }
    .top_subs h2 span {
      font-weight: 400; }
  .top_subs .right {
    margin: 20px 0;
    position: relative; }
    .top_subs .right .sub_page {
      width: 350px;
      margin-left: 40px;
      padding-left: 25px;
      color: #fff;
      position: relative; }
      .top_subs .right .sub_page span {
        font-size: 12px;
        display: block;
        margin-bottom: 5px; }
      .top_subs .right .sub_page h5 {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 10px;
        border-bottom: 1px dotted #fff;
        background: url("../images/material/arrow.png") no-repeat right center;
        cursor: pointer; }
      .top_subs .right .sub_page .drop {
        position: absolute;
        width: 315px;
        padding: 30px 30px 20px;
        background: #eee;
        z-index: 4;
        top: 120px;
        left: -1px;
        border-radius: 0 0 15px 15px;
        -webkit-border-radius: 0 0 15px 15px;
        -moz-border-radius: 0 0 15px 15px;
        -ms-border-radius: 0 0 15px 15px;
        -o-border-radius: 0 0 15px 15px;
        opacity: 0;
        display: none; }
        .top_subs .right .sub_page .drop a {
          font-size: 16px;
          font-weight: 700;
          color: #0072b9;
          display: block;
          margin-bottom: 25px;
          text-transform: uppercase;
          line-height: 20px; }
        .top_subs .right .sub_page .drop a:hover, .top_subs .right .sub_page .drop a.active {
          color: #66b82e; }
      .top_subs .right .sub_page .drop:before {
        position: absolute;
        border-bottom: 10px solid #eee;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        content: "";
        width: 0;
        height: 0;
        top: -10px;
        left: 0;
        right: 0;
        margin: auto; }
    .top_subs .right a {
      display: block;
      color: #fff;
      font-weight: 600;
      margin: 15px 0;
      font-size: 16px; }
      .top_subs .right a span {
        font-weight: 300; }

.top_subs.type-2 {
  background: url("../images/material/bg_top_sub-2.jpg") no-repeat center; }


/* footer
----------------------------------------------------------------------------------------------*/
footer {
  background: url("../images/material/bg_foot.jpg") repeat-x;
  padding-top: 50px; }

  footer .btm_foot {
    background: #333333;
    padding: 10px 0; }
    footer .btm_foot p {
      text-align: left;
      color: #fff;
      margin: 14px 0 0 0;
      font-size: 12px; }
      footer .btm_foot p a {
        display: inline-block;
        font-size: 12px; }
      footer .btm_foot p a:hover {
        color: #fff; }

.block_float {
  position: fixed;
  width: 105px;
  height: 96px;
  right: 0;
  bottom: 0;
  z-index: 8888; }

.wrap-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: none;
  overflow-x: auto; }
  .wrap-popup .box-popup {
    width: 860px;
    padding: 50px 70px;
    background: #FFF;
    position: relative;
    margin: 12% auto; }
    .wrap-popup .box-popup a.close {
      position: absolute;
      width: 48px;
      height: 41px;
      top: -41px;
      right: 20px;
      overflow: hidden;
      background: url(close_pop.png) no-repeat;
      text-indent: -9999px; }
    .wrap-popup .box-popup .content_pop .txt_promo .right table {
      width: 100%; }
      .wrap-popup .box-popup .content_pop .txt_promo .right table tbody td {
        padding: 10px;
        border-bottom: 1px solid #fff;
        background: #0072b9;
        color: #fff; }
        .wrap-popup .box-popup .content_pop .txt_promo .right table tbody td:nth-child(2) {
          width: 3px; }
        .wrap-popup .box-popup .content_pop .txt_promo .right table tbody td:last-child {
          background: none;
          color: #434343; }

/*# sourceMappingURL=style.css.map */
